
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.rdp-root{
  display: flex;
  justify-content: center;
}
.rdp-months{
  overflow: hidden;
}
.rdp-month{
  background-color: white;
  border: 1px solid #EDEDF5;
  width: 343px !important;
  padding: 1rem;
  border-radius: 1rem;
  
  overflow: hidden;
}
.rdp-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 1rem;
}
.rdp-nav button{
 background: #F2F2F7;
 border-radius: 6px;
 border: 1px solid #EDEDF5;
}
.rdp-chevron{
  fill: #6AB240;
}
.rdp-month_caption{
  justify-content: center;
  font-size: 16px;
}
.rdp-weekday{
  font-size: 13px !important;
  font-weight: bold;
}